<span class="menu-button">
  <svg class="inline" viewBox="0 0 32 32" width="16" height="16">
    <rect y="2" width="32" height="6"></rect>
    <rect y="12" width="32" height="6"></rect>
    <rect y="22" width="32" height="6"></rect>
  </svg>
  Menu
</span>
<nav class=menu>
  <a href="{% link pages/home.md %}">Home</a>
  <a href="{% link pages/about.md %}">About Us</a>
  <a href="{% link pages/services.md %}">Church Services & Sunday School</a>
  <a href="{% link pages/reading-room.md %}">Reading Room & Spiritual Resources</a>
  <a href="{% link pages/events.md %}">Lectures & Events</a>
  <a href="{% link pages/youth.md %}">Youth</a>
</nav>
