<!DOCTYPE html>
<html lang=en-us>
<head>
  <meta charset=utf-8>
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name=description content="{{ page.description | strip_newlines }}">
  <meta name=keywords content="{{ page.keywords | join: "," }}">
  <link rel=stylesheet href="/assets/style.css">
  <script src="/assets/moment.min.js"></script>
  <script src="/assets/lesson-subject.js"></script>
  <script src="/assets/siema.min.js"></script>
</head>
<body>
  <div class=draft>
    This website is a draft, currently under construction. Please visit <a href="http://www.csmenlopark.com/">csmenlopark.com</a> for now.
  </div>
{% include header.html %}
{% include menu.html %}
  <div class=content>
{{ content }}
{% include lesson-subject.html %}
  </div>
{% include footer.html -%}
</body>
</html>
