<!DOCTYPE html>
<html lang=en-us>
<head>
  <meta charset=utf-8>
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name=description content="{{ page.description | strip_newlines }}">
  <meta name=keywords content="{{ page.keywords | join: "," }}">
  <meta name=viewport content="width=device-width">
  <link rel=stylesheet href="/assets/style.css">
  <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin=anonymous>
  <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin=anonymous>
</head>
<body>
{% include header.html %}
{% include menu.html %}
  <div class=content>
    {% if page.title != "Online Services" %}
    <aside class="announcement-banner">
      <a href="{% link pages/online-services.md %}">
        <strong>Online Sunday and Wednesday services:</strong>
        <span style="text-decoration: underline">Click for details.</span>
      </a>
    </aside>
    {% endif %}
{{ content }}
{% include lesson-subject.html %}
  </div>
{% include footer.html -%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin=anonymous></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin=anonymous></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin=anonymous></script>
  <script src="/assets/carousel.js"></script>
  <script src="/assets/lesson-subject.js"></script>
</body>
</html>
